.content {
  width: 100%;
  max-width: 332px;
  background: #16242b 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  display: inline-block;
  padding: 50px 34px;
  vertical-align: middle;
  object-fit: contain;
}

.title {
  font-family: Circular Std;
  text-align: left;
  font-size: normal;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 20px;
}

.description {
  font-family: Circular Std;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  margin-top: 39px;
  font-family: Circular Std;
  font: normal;
  color: #e25a5a;
  opacity: 1;
}

.linked {
  color: #e25a5a;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  margin-left: 10px;
  border-bottom: 1px dashed #e25a5a;
  font-size: 16px;
}
