.content {
  background: #0a161c;
}

.title {
  color: #fff;
  opacity: 1;
  text-align: center;
  margin-top: 100px;
  margin-left: 514px;
  width: 412px;
  height: 47px;
  font-family: Circular Std;
  font-weight: normal;
}

.title h1 {
  font-size: 34px;
}

.title h2 {
  font-size: 24px;
}

.heading {
  margin-left: 264px;
  width: 258px;
  height: 25px;
  color: #e25a5a;
  font-size: 20px;
}

.blockTeam {
  display: flex;
  align-items: center;
  gap: 132px;
  flex-wrap: wrap;
  margin-top: 100px;
}
